*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #222222;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */

.pds-header-wrap {
  width: 100%;
  background-color: #000;
}

.pds-header-row {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

.pds-header-logo {
  display: inline-block;
  padding: 0.5em;
}

.pds-header-logo > img {
  width: 300px;
  height: auto;
}

/* Main Content */

.pds-content-wrap {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

.pds-content-block {
  padding: 0.5em;
}

/* Footer */

.pds-footer-wrap {
  width: 100%;
  min-width: 320px;
  border-top: 4px solid #D6D6D6;
}

.pds-footer-row {
  padding: 0.5em;
}

.pds-footer-copy {
  float: left;
  width: 60%;
}

.pds-footer-logo {
  float: right;
  width: 39%;
  text-align: right;
}

.pds-footer-logo > img {
  max-width: 50px;
  opacity: 0.7;
}
