*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
}

/* Header */

.header-wrap {
  width: 100%;
  background-color: #000;
}

.header-row {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.header-logo {
  display: inline-block;
  padding: 0.625em 0 0.25em 0.625em;
}

.header-logo > img {
  width: 300px;
}

/* Main Content */

.content-wrap {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.content-block {
  padding: 0.625em 0.625em 1.875em;
}

/* Footer */

.footer-wrap {
  border-top: 4px solid #D6D6D6;
  padding: 0.625em 0 0 0;
  margin: 0 0.625em;
}

.footer-copy {
  float: left;
  width: 60%;
}

.footer-logo {
  float: right;
  width: 39%;
  text-align: right;
}

.footer-logo > img {
  width: 50px;
}
